../python-sdk/smithy_core-0.0.1-py3-none-any.whl 
../python-sdk/smithy_event_stream-0.0.1-py3-none-any.whl
../python-sdk/aws_event_stream-0.0.1-py3-none-any.whl
../python-sdk/smithy_http-0.0.1-py3-none-any.whl 
../python-sdk/smithy_aws_core-0.0.1-py3-none-any.whl
../python-sdk/smithy_aws_core-0.0.1-py3-none-any.whl
../python-sdk/smithy_json-0.0.1-py3-none-any.whl 
../python-sdk/bedrock_runtime-0.0.1-py3-none-any.whl
../python-sdk/aws_sdk_signers-0.0.2-py3-none-any.whl 
boto3==1.37.17
streamlit==1.43.2
numpy==2.2.4
scipy==1.15.2
rx==3.2.0