.about{
    width: 100%;
}

.about .persona {
    display: inline-block;
    width: 23%;
    border: silver solid 1px;
    min-height: 500px;
    border-radius: 10px;
    margin: 1%;
    vertical-align: top;
}
.about .persona img {
    margin-top: 10%;
    width: 35%;
    max-height: 150px;
    min-height: 100px;
    display: block;
    margin-left: 30%;
}
.about .persona .desc {
    padding: 20% 20px 20px 20px;
    font-size: large;
    line-height: 1.6;
    text-align: center;
    
}
.about .persona .desc .name {
    font-size: x-large;
    font-weight: bold;
    display: block;
}
.about .persona .desc .highlight {
    display: inline;
    text-shadow: lightgreen 1px 0px 10px;
    font-weight:500;
}
.about .rag img{
    width: 80%;
}